/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url('calculator.jpg');
  background-size: cover; /* Ensures the image covers the entire screen */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black; /* Fallback color */
  backdrop-filter: blur(5px);
}

.container {
  position: relative;
  max-width: 300px;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  background: gray;
  box-shadow: 0 5px 10px rgba(202, 195, 195, 0.982);
  border: 1px solid black;
}
.display {
  height: 80px;
  width: 100%;
  outline: none;
  border: 1px solid black;
  text-align: right;
  margin-bottom: 10px;
  font-size: 25px;
  color: #000e1a;
  pointer-events: none;
  padding: 5px;
  border-radius: 20px;
}
.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.buttons button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #eee;
}
.buttons button:active {
  transform: scale(0.90);
}
.operator {
  color: #030e17;
}